Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

eslint:
  name: ESLint
  entry: pnpm exec eslint --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - push

cargo-audit:
  name: Cargo security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

feat(playground): add PromptGuard injection detection demo
  apps/identity/test/penetration.e2e-spec.ts
  apps/playground/src/App.tsx
  docs/PRE_LAUNCH_AUDIT_RESULTS.md
  ee/audit-export/src/lib.rs
  packages/gate/src/carbon.rs
  packages/gate/src/connectors/sap.rs
  packages/gate/src/connectors/swift.rs
  packages/gate/src/crypto_agility.rs
  packages/governance/src/ai/iso42001/report.rs
  packages/governance/src/ai/mod.rs
  packages/governance/src/industry/finance/mod.rs
  packages/governance/src/industry/finance/pci.rs
  packages/governance/src/industry/finance/shariah.rs
  packages/governance/src/industry/healthcare/hipaa.rs
  packages/governance/src/privacy/global_registry.rs
  packages/nexus/src/chaos_proxy.rs
  packages/parsers/src/swift_mt.rs
  packages/synapse/src/drift.rs
  packages/synapse/src/encryption.rs
  packages/synapse/src/state_snapshot.rs
  wasm-policies/prompt-guard/Cargo.lock
Due: eslint, cargo-fmt, cargo-clippy, cargo-audit

fix(playground): correct GitHub URL to AgentKern org
  apps/playground/src/App.tsx
  pnpm-lock.yaml
Due: eslint

fix(ci): downgrade Rust edition 2024→2021 and use pnpm in deploy
  .github/workflows/deploy-playground.yml
  .well-known/security.txt
  Cargo.toml
  docs/COMPREHENSIVE_AUDIT_REPORT.md
  docs/SECURITY_TOOLING_SETUP.md
  docs/VULNERABILITY_REMEDIATION_GUIDE.md
  packages/governance/Cargo.toml
  packages/parsers/Cargo.toml
Due: cargo-audit

fix(ci): comprehensive CI fixes
  .github/workflows/ci.yml
  .github/workflows/deploy-playground.yml
  packages/governance/src/industry/finance/shariah.rs
  packages/parsers/src/swift_mt.rs
Due: cargo-fmt, cargo-clippy

fix(ci): use Rust nightly for edition 2024 + add PostgreSQL for E2E
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Cargo.toml
  packages/governance/Cargo.toml
  packages/governance/src/industry/finance/shariah.rs
  packages/parsers/Cargo.toml
  packages/parsers/src/swift_mt.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

chore(ci): upgrade PostgreSQL 15→17 (latest stable)
  .github/workflows/ci.yml
Due: none

fix(ci): add DATABASE_URL parsing and DATABASE_SYNC for E2E tests
  .github/workflows/ci.yml
  apps/identity/src/modules/database.module.ts
Due: eslint

feat(security): add CSP violation reporting and enhance prompt guard
  .well-known/security.txt
  apps/identity/src/controllers/csp-report.controller.ts
  apps/identity/src/main.ts
  apps/identity/src/modules/security.module.ts
  docs/.github/dependabot.yml
  docs/.github/workflows/ai-review.yml
  docs/.github/workflows/ci.yml
  docs/.github/workflows/dast.yml
  docs/.github/workflows/dependabot-auto-merge.yml
  docs/.github/workflows/deploy-playground.yml
  docs/.github/workflows/deploy-preview.yml
  docs/.github/workflows/deploy-services.yml
  docs/.github/workflows/publish-sdk.yml
  docs/.github/workflows/security.yml
  docs/.github/zap-rules.tsv
  packages/gate/src/prompt_guard.rs
Due: eslint, cargo-fmt, cargo-clippy

chore: cleanup and add operational runbooks
  docs/.github/dependabot.yml
  docs/.github/workflows/ai-review.yml
  docs/.github/workflows/ci.yml
  docs/.github/workflows/dast.yml
  docs/.github/workflows/dependabot-auto-merge.yml
  docs/.github/workflows/deploy-playground.yml
  docs/.github/workflows/deploy-preview.yml
  docs/.github/workflows/deploy-services.yml
  docs/.github/workflows/publish-sdk.yml
  docs/.github/workflows/security.yml
  docs/.github/zap-rules.tsv
  docs/runbooks/certificate-rotation-runbook.md
  docs/runbooks/kill-switch-runbook.md
  docs/runbooks/treasury-reconciliation-runbook.md
Due: none

chore: restore SDK placeholder directories for future language SDKs
  sdks/dotnet/.gitkeep
  sdks/go/.gitkeep
  sdks/java/.gitkeep
  sdks/python/.gitkeep
Due: none

chore: add ZAP scan rules to .github
  .github/zap-rules.tsv
Due: none

chore(identity): cleanup build artifacts and duplicate configs
  apps/identity/.github/workflows/ci-cd.yml
  apps/identity/.github/workflows/sbom.yml
  apps/identity/.github/workflows/security.yml
  apps/identity/audit-results.json
  apps/identity/dependency-list.json
Due: none

refactor(identity): consolidate docs and remove redundant files
  apps/identity/README-TESTING.md
  apps/identity/REMEDIATION_GUIDE.md
  apps/identity/package-lock.json
  docs/identity/DEPLOYMENT.md
  docs/identity/INTEGRATION.md
  docs/identity/INTENT_DNS_SPEC.md
  docs/identity/PROTOCOL_SPEC.md
  docs/identity/SDK.md
  docs/identity/TRUST_MESH_SPEC.md
Due: none

chore: remove root package-lock.json
  package-lock.json
Due: none

chore: rebrand VeriMantle/AgentProof → AgentKern/AgentKernIdentity
  apps/identity/test/app.e2e-spec.ts
  apps/identity/test/dashboard.e2e-spec.ts
  apps/identity/test/load/load-test.ts
  apps/playground/index.html
  apps/playground/public/agentkern.svg
  docs/MODERNIZATION_ROADMAP.md
  docs/PRE_LAUNCH_AUDIT_REQUIREMENTS.md
  docs/PRE_LAUNCH_AUDIT_RESULTS.md
  docs/SECURITY_AUDIT_REPORT.md
Due: eslint

chore: remove mesh/gateway artifacts (now in Rust synapse)
  apps/identity/.env.staging.example
  apps/identity/docker-compose.staging.yml
  apps/identity/k8s/deployment.yaml
  apps/identity/src/controllers/dashboard.controller.ts
  apps/identity/src/domain/mesh.entity.ts
  apps/identity/src/dto/mesh.dto.ts
  apps/identity/src/entities/index.ts
  apps/identity/src/entities/system-config.entity.ts
  apps/identity/src/entities/trust-event.entity.ts
  apps/identity/src/entities/verification-key.entity.ts
  apps/identity/src/modules/database.module.ts
  apps/identity/src/modules/proof.module.ts
  apps/identity/src/services/agent-sandbox.service.spec.ts
  apps/identity/src/services/agent-sandbox.service.ts
  apps/identity/src/services/audit-logger.service.spec.ts
  apps/identity/src/services/audit-logger.service.ts
  apps/identity/src/services/dns-resolution.service.spec.ts
  apps/identity/src/services/insurance.service.ts
  apps/identity/src/services/legal-entity.service.ts
  apps/identity/src/services/license.service.spec.ts
  apps/identity/src/services/proof-verification.service.spec.ts
  apps/identity/src/services/proof-verification.service.ts
  apps/identity/src/services/trust.service.ts
Due: eslint

refactor(apps): fix technical debt - gateway: replace console.log with NestJS Logger - identity/sdk: remove 'any' types in LangChain wrapper - identity/sdk: clean up console logging usage
  apps/gateway/src/main.ts
  apps/gateway/src/services/arbiter.service.ts
  apps/identity/src/sdk/langchain.ts
Due: eslint

feat(identity): consolidate pillar with TypeORM persistence and enterprise licensing
  apps/identity/src/app.module.ts
  apps/identity/src/controllers/dashboard.controller.ts
  apps/identity/src/guards/enterprise-license.guard.ts
  apps/identity/src/guards/license.guard.ts
  apps/identity/src/modules/enterprise.module.ts
  apps/identity/src/modules/license.module.ts
  apps/identity/src/services/license.service.ts
  apps/identity/src/services/trust.service.ts
Due: eslint

fix(gateway): resolve TypeScript compilation errors
  apps/gateway/gateway.log
  apps/gateway/package.json
  apps/gateway/src/controllers/nexus-stream.controller.ts
  apps/gateway/src/dto/gate.dto.ts
  apps/gateway/src/dto/nexus.dto.ts
  apps/gateway/src/services/arbiter.service.ts
  apps/gateway/src/services/gate.service.ts
  apps/gateway/src/services/nexus.service.ts
  apps/gateway/src/services/synapse.service.ts
  apps/gateway/tsconfig.tsbuildinfo
Due: eslint

refactor: merge Gateway into Identity - consolidated architecture
  Cargo.lock
  Cargo.toml
  apps/gateway/gateway.log
  apps/gateway/nest-cli.json
  apps/gateway/openapi.yaml
  apps/gateway/package.json
  apps/gateway/src/app.module.ts
  apps/gateway/src/controllers/arbiter.controller.ts
  apps/gateway/src/controllers/gate.controller.ts
  apps/gateway/src/controllers/health.controller.ts
  apps/gateway/src/controllers/identity.controller.ts
  apps/gateway/src/controllers/nexus-stream.controller.ts
  apps/gateway/src/controllers/synapse.controller.ts
  apps/gateway/src/dto/arbiter.dto.ts
  apps/gateway/src/dto/gate.dto.ts
  apps/gateway/src/dto/identity.dto.ts
  apps/gateway/src/dto/synapse.dto.ts
  apps/gateway/src/main.ts
  apps/gateway/src/modules/arbiter.module.ts
  apps/gateway/src/modules/gate.module.ts
  apps/gateway/src/modules/identity.module.ts
  apps/gateway/src/modules/synapse.module.ts
  apps/gateway/src/services/arbiter.service.ts
  apps/gateway/src/services/gate.service.ts
  apps/gateway/src/services/synapse.service.ts
  apps/gateway/test/e2e.spec.ts
  apps/gateway/tsconfig.json
  apps/gateway/tsconfig.tsbuildinfo
  apps/identity/src/app.module.ts
  apps/identity/src/controllers/nexus.controller.ts
  apps/identity/src/dto/nexus.dto.ts
  apps/identity/src/modules/nexus.module.ts
  apps/identity/src/services/nexus.service.ts
  docs/DECISION_RECORD_BRIDGE.md
  docs/EPISTEMIC_HEALTH.md
  packages/bridge/Cargo.toml
  packages/bridge/index.node
  packages/bridge/package.json
  packages/bridge/src/lib.rs
Due: eslint, cargo-fmt, cargo-clippy, cargo-audit

docs: add ADR-001 for Gateway merge and Identity README
  apps/identity/README.md
  docs/adr/ADR-001-gateway-identity-merge.md
Due: none

refactor: move SDK to packages/sdk as @agentkern/sdk
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/langchain.spec.ts
  packages/sdk/src/langchain.ts
  packages/sdk/tsconfig.json
Due: eslint

docs: approve hybrid N-API + HTTP architecture for Gate
  docs/DECISION_RECORD_BRIDGE.md
Due: none

fix(gate): resolve epistemic debt with research-validated documentation
  docs/wiki/IDENTITY_DESIGN.md
  docs/wiki/README.md
  packages/gate/src/engine.rs
  packages/gate/src/neural.rs
  packages/gate/src/prompt_guard.rs
Due: cargo-fmt, cargo-clippy

fix(synapse): resolve all 8 epistemic debt items with research-validated documentation
  docs/wiki/GATE_DESIGN.md
  docs/wiki/INTEGRATION_GUIDE.md
  docs/wiki/README.md
  packages/synapse/src/drift.rs
  packages/synapse/src/encryption.rs
Due: cargo-fmt, cargo-clippy

fix(arbiter): resolve 6/7 epistemic debt items with research-validated documentation
  docs/wiki/GATE_DESIGN.md
  packages/arbiter/src/antifragile.rs
  packages/arbiter/src/entity/screening.rs
Due: cargo-fmt, cargo-clippy

fix(arbiter): resolve final item - recovery strategy documentation
  docs/wiki/README.md
  docs/wiki/SYNAPSE_DESIGN.md
  packages/arbiter/src/antifragile.rs
Due: cargo-fmt, cargo-clippy

fix(treasury): resolve all 3 epistemic debt items with deep research
  packages/treasury/src/carbon.rs
Due: cargo-fmt, cargo-clippy

fix(nexus): clarify skill match score test assertion
  docs/wiki/ARBITER_DESIGN.md
  docs/wiki/README.md
  packages/nexus/src/agent_card.rs
Due: cargo-fmt, cargo-clippy

fix: resolve all minor technical debt items
  apps/identity/src/dto/webauthn.dto.ts
  docs/wiki/ARBITER_DESIGN.md
  packages/synapse/src/drift.rs
Due: eslint, cargo-fmt, cargo-clippy

chore: production-ready Rust lint configuration
  packages/arbiter/src/bulkhead.rs
  packages/arbiter/src/dr_scheduler.rs
  packages/arbiter/src/lib.rs
  packages/edge/src/lib.rs
  packages/native-binding/src/lib.rs
  packages/nexus/src/lib.rs
  packages/nexus/src/protocols/a2a.rs
  packages/nexus/src/protocols/mcp.rs
  packages/runtime/src/lib.rs
  packages/synapse/src/adaptive.rs
  packages/synapse/src/graph.rs
  packages/synapse/src/lib.rs
  packages/synapse/src/mesh/geo_fence.rs
  packages/synapse/src/passport/export.rs
  packages/synapse/src/passport/gdpr.rs
  packages/synapse/src/passport/import.rs
  packages/synapse/src/polyglot/mod.rs
  packages/synapse/src/secure_passport.rs
  packages/synapse/src/state.rs
  packages/synapse/src/types.rs
  packages/treasury/src/lib.rs
  packages/treasury/src/lock.rs
  packages/treasury/src/micropayments.rs
Due: cargo-fmt, cargo-clippy

feat: zero-warning codebase via functional getter methods
  docs/architecture.md
  docs/wiki/GATE_DESIGN.md
  docs/wiki/GOVERNANCE_DESIGN.md
  docs/wiki/IDENTITY_DESIGN.md
  docs/wiki/INFRASTRUCTURE_DESIGN.md
  docs/wiki/NEXUS_DESIGN.md
  docs/wiki/README.md
  docs/wiki/SYNAPSE_DESIGN.md
  docs/wiki/TREASURY_DESIGN.md
  packages/arbiter/src/raft.rs
  packages/nexus/src/discovery.rs
  packages/nexus/src/protocols/translator.rs
  packages/synapse/src/mesh/mod.rs
  packages/synapse/src/mesh/sync.rs
  packages/synapse/src/passport/export.rs
  packages/treasury/src/transfer.rs
  packages/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy

feat(identity): add pillar controllers and DTOs
  apps/identity/src/config/config.validation.ts
  apps/identity/src/controllers/arbiter.controller.ts
  apps/identity/src/controllers/gate.controller.ts
  apps/identity/src/controllers/synapse.controller.ts
  apps/identity/src/controllers/treasury.controller.ts
  apps/identity/src/controllers/webauthn.controller.ts
  apps/identity/src/dto/arbiter.dto.ts
  apps/identity/src/dto/gate.dto.ts
  apps/identity/src/dto/synapse.dto.ts
  apps/identity/src/dto/treasury.dto.ts
  apps/identity/src/dto/webauthn.dto.ts
  apps/identity/src/instrumentation.ts
  apps/identity/src/logging/pino-logger.service.ts
  apps/identity/src/middleware/correlation-id.middleware.ts
  apps/identity/src/modules/arbiter.module.ts
  apps/identity/src/modules/gate.module.ts
  apps/identity/src/modules/security.module.ts
  apps/identity/src/modules/synapse.module.ts
  apps/identity/src/modules/treasury.module.ts
Due: eslint

docs: add ADRs and pillar design wiki
  docs/adr/003-production-ready-security-fixes.md
  docs/adr/ADR-001-gateway-identity-merge.md
  docs/adr/ADR-002-monorepo-structure.md
  docs/adr/ADR-004-hybrid-language-strategy.md
  docs/wiki/ARBITER_DESIGN.md
  docs/wiki/GATE_DESIGN.md
  docs/wiki/GOVERNANCE_DESIGN.md
  docs/wiki/INFRASTRUCTURE_DESIGN.md
  docs/wiki/NEXUS_DESIGN.md
  docs/wiki/SYNAPSE_DESIGN.md
  docs/wiki/TREASURY_DESIGN.md
Due: none

chore: update configs and fix test isolation
  .github/dependabot.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-services.yml
  .github/workflows/security.yml
  Cargo.toml
  DEPLOYMENT_CHECKLIST.md
  README.md
  apps/identity/README.md
  apps/identity/package.json
  apps/identity/src/app.module.ts
  apps/identity/src/main.ts
  apps/identity/src/services/gate.service.ts
  apps/playground/package.json
  docker-compose.yml
  docs/DECISION_RECORD_BRIDGE.md
  docs/DEPLOYMENT.md
  docs/EPISTEMIC_HEALTH.md
  docs/LICENSING.md
  ee/cloud/src/lib.rs
  ee/sso/src/lib.rs
  packages/foundation/bridge/Cargo.toml
  packages/foundation/bridge/src/lib.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
  tests/integration.rs
Due: eslint, cargo-fmt, cargo-clippy, cargo-audit

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
