Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for AgentKern
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
#
# Industry Best Practices:
# - Secret scanning before commit (defense in depth)
# - Linting to catch common issues
# - Security scanning for immediate feedback

repos:
  # ===========================================
  # Secret Detection (Critical - Runs First)
  # ===========================================
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        name: Detect secrets (gitleaks)
        description: Prevent committing secrets to the repository

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets (detect-secrets)
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json|pnpm-lock.yaml|Cargo.lock

  # ===========================================
  # General Hygiene
  # ===========================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: no-commit-to-branch
        name: Prevent commit to main
        args: ['--branch', 'main', '--branch', 'master']

  # ===========================================
  # TypeScript/JavaScript Security & Linting
  # ===========================================
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm exec eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: true

  # ===========================================
  # Rust Security & Linting
  # ===========================================
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format
        entry: cargo fmt --all --check
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [push]  # Only on push (slower)

      - id: cargo-audit
        name: Cargo security audit
        entry: cargo audit
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false
        stages: [push]  # Only on push

  # ===========================================
  # Semgrep Security Scanning (Fast Rules)
  # ===========================================
  - repo: https://github.com/semgrep/semgrep
    rev: v1.95.0
    hooks:
      - id: semgrep
        name: Semgrep security scan
        args:
          - --config=p/secrets
          - --config=p/security-audit
          - --error  # Fail on findings
        stages: [push]  # Only on push (can be slow)

  # ===========================================
  # Markdown Linting (Documentation)
  # ===========================================
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        name: Markdown lint
        args: ['--fix', '--disable', 'MD013', 'MD033', 'MD041']
        exclude: node_modules/

# CI configuration
ci:
  autofix_commit_msg: 'style: pre-commit autofixes [skip ci]'
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'
  skip:
    - cargo-fmt
    - cargo-clippy
    - cargo-audit  # These need Rust toolchain

fix(ci): add maximize-build-space to docker and coverage jobs
  .github/workflows/ci.yml
Due: none

fix(ci): reorder maximize-build-space to run BEFORE checkout
  .github/workflows/ci.yml
Due: none

fix(ci): resolve 'No space left on device' in docker-build and e2e jobs
  .github/workflows/ci.yml
Due: none

fix(ci): specify user for pg_isready health check in security-scan
  .github/workflows/security-scan.yml
Due: none

fix(arbiter): add missing Safe intents and duration to queue tests
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(ci): add postgres service to gate-test for arbiter tests
  .github/workflows/ci.yml
Due: none

fix(ci): add migrations and postgres to coverage/gate jobs
  .github/workflows/ci.yml
Due: none

fix(ci): add postgres to rust-coverage and remove duplicate tarpaulin
  .github/workflows/ci.yml
Due: none

fix(treasury): update route syntax for axum 0.7 compatibility
  packages/pillars/treasury/src/api.rs
Due: cargo-fmt, cargo-clippy

chore(tests): add diagnostics to arbiter distributed tests
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(tests): add retries to arbiter distributed tests for CI robustness
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(tests): isolate cleanup in arbiter tests to prevent cross-test interference
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(tests): resolve compilation errors by updating all cleanup calls
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(tests): resolve remaining cleanup compilation errors via automated replace
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(tests): correct malformed cleanup calls using global replace
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(ci): use correct syntax for sqlx-cli installation
  .github/workflows/ci.yml
Due: none

fix(docker): optimize build with slim image and better caching
  apps/server/Dockerfile
Due: none

fix(docker): upgrade base image to rust 1.92 to match cargo.toml
  apps/server/Dockerfile
Due: none

fix(build): enable codegen-units=1 to reduce memory usage in CI
  Cargo.toml
Due: cargo-audit

fix(arbiter): restore missing lock_manager and queue initializations in tests
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(ci): remove unsupported pnpm lint step from playground security scan
  .github/workflows/security-scan.yml
Due: none

style: apply cargo fmt to distributed_state.rs
  docker_build_fail.log
  docker_error.log
  gate_tests.log
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(docker): add ca-certificates and curl to builder for ort download
  apps/server/Dockerfile
Due: none

fix(docker): remove hallucinated gate-policy path and add missing workspace manifests
  apps/server/Dockerfile
Due: none

fix(ci): add postgres to coverage, more disk for docker, disable neural for identity build
  .github/workflows/ci.yml
Due: none

fix(ci): remove neural feature from arbiter to avoid ort build issues
  packages/pillars/arbiter/Cargo.toml
Due: cargo-audit

fix(ci): harden coverage and security workflows with disk space and tool optimizations
  .github/workflows/coverage.yml
  .github/workflows/security.yml
Due: none

fix(ci): standardize postgres health checks with explicit user flag
  .github/workflows/ci.yml
Due: none

fix(ci): correction for actions/checkout version and step order optimization
  .github/workflows/ai-review.yml
  .github/workflows/ci.yml
  .github/workflows/dast-scan.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/deploy-playground.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/sdk-build.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
Due: none

deploy: update playground and docs [skip ci] 35fc3fd56338309de73a1831ac0fdb591a0188c7
  adr/003-production-ready-security-fixes.md
  benchmarks/load_test_results.md
  investor_overview.md
  runbooks/chaos_engineering.md
Due: none

fix(cargo): remove redundant profiles and suppress root-package-profile warnings
  packages/sdk-node/Cargo.toml
  wasm-policies/prompt-guard/Cargo.toml
Due: cargo-audit

fix(ci): improve coverage job with unified migrations and increased timeout
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

fix(gate): synchronize ort version with workspace
  packages/pillars/gate/Cargo.toml
Due: cargo-audit

fix(ci): restrict tarpaulin to single thread to avoid database race conditions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

fix(ci): optimize coverage speed by splitting parallel/serial runs
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

fix(ci): correction for codecov upload paths and identification
  .github/workflows/coverage.yml
Due: none

feat(ci): migrate coverage to cargo-llvm-cov for 5x speedup and stability
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

fix(gate): fix unused imports and guard PQC tests
  packages/pillars/gate/src/crypto_agility.rs
  packages/pillars/gate/tests/neuro_symbolic_test.rs
Due: cargo-fmt, cargo-clippy

fix(ci): fix gate compilation and audit service panic fallback
  packages/pillars/gate/src/crypto_agility.rs
  packages/pillars/identity/src/services/audit.rs
Due: cargo-fmt, cargo-clippy

fix(ci): fix formatting, coverage args, and include pending updates
  .github/workflows/coverage.yml
  docker-compose.yml
  packages/pillars/gate/Cargo.toml
  packages/pillars/gate/src/crypto_agility.rs
  packages/pillars/gate/src/engine.rs
  packages/pillars/gate/src/lib.rs
  packages/pillars/gate/src/tee.rs
  packages/pillars/gate/tests/neuro_symbolic_test.rs
  packages/pillars/identity/src/services/audit.rs
  packages/pillars/treasury/src/carbon.rs
Due: cargo-fmt, cargo-clippy, cargo-audit
