Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

eslint:
  name: ESLint
  entry: pnpm exec eslint --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - push

cargo-audit:
  name: Cargo security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

deploy: update playground and docs [skip ci] 399f86f0544e5825b7069f956fd258fadc8371a2
  architecture/SDK_DESIGN.md
Due: none

docs: add CSRF integration guide and security guards reference
  docs/wiki/CSRF_INTEGRATION_GUIDE.md
  docs/wiki/SECURITY_GUARDS.md
Due: none

deploy: update playground and docs [skip ci] f1e4179aaed087138f9463ae3a8fe941e08c54cc
  wiki/CSRF_INTEGRATION_GUIDE.md
  wiki/SECURITY_GUARDS.md
Due: none

chore: add CHANGELOG for v0.2.0 release
  CHANGELOG.md
Due: none

docs: add SDK publishing and production deployment guides
  docs/PRODUCTION_DEPLOYMENT.md
  docs/SDK_PUBLISHING.md
  scripts/build-sdk-node.sh
  scripts/build-sdk-python.sh
Due: none

deploy: update playground and docs [skip ci] a9ad85fa030f0f7dad84f469279089f5eb900ade
  PRODUCTION_DEPLOYMENT.md
  SDK_PUBLISHING.md
Due: none

docs: cleanup obsolete documentation (22 files removed)
  CODEBASE_AUDIT_REPORT.md
  DEPLOYMENT_CHECKLIST.md
  FIXES_APPLIED.md
  PRODUCTION_FIXES_SUMMARY.md
  docs/COMPREHENSIVE_AUDIT_REPORT.md
  docs/DECISION_RECORD_BRIDGE.md
  docs/DEPLOYMENT.md
  docs/EPISTEMIC_HEALTH.md
  docs/PRODUCTION_READY_APPROACH.md
  docs/PRODUCTION_READY_BRIDGE_IMPLEMENTATION.md
  docs/SECURITY_TOOLING_SETUP.md
  docs/VULNERABILITY_REMEDIATION_GUIDE.md
  docs/guides/quickstart.md
  docs/identity/DEPLOYMENT.md
  docs/identity/INTEGRATION.md
  docs/index.md
  docs/use_.md
  ee/cockpit/README.md
Due: none

deploy: update playground and docs [skip ci] 193feba4be980d3562e339585fa9882dee21c3c4
  COMPREHENSIVE_AUDIT_REPORT.md
  DECISION_RECORD_BRIDGE.md
  DEPLOYMENT.md
  EPISTEMIC_HEALTH.md
  PRODUCTION_READY_APPROACH.md
  PRODUCTION_READY_BRIDGE_IMPLEMENTATION.md
  SECURITY_TOOLING_SETUP.md
  VULNERABILITY_REMEDIATION_GUIDE.md
  guides/quickstart.md
  identity/DEPLOYMENT.md
  identity/INTEGRATION.md
  index.md
  use_.md
Due: none

chore: remove compiled .node binary and add to gitignore
  .gitignore
  packages/foundation/bridge/index.node
Due: none

fix(security): CRITICAL - implement production Ed25519 + AES-256-GCM
  apps/identity/src/guards/liability-proof.guard.ts
  ee/sovereign-memory/Cargo.toml
  ee/sovereign-memory/src/encryption.rs
Due: eslint, cargo-fmt, cargo-clippy, cargo-audit

test: add comprehensive unit tests for critical services
  apps/identity/src/services/arbiter.service.spec.ts
  apps/identity/src/services/nexus.service.spec.ts
  apps/identity/src/services/treasury.service.spec.ts
Due: eslint

feat: complete MEDIUM and LOW priority production fixes
  .github/workflows/sdk-build.yml
  Cargo.lock
  apps/identity/src/common/exceptions.ts
  apps/identity/src/common/index.ts
  examples/cloud/azure/README.md
  observability/README.md
  scripts/smoke-test.sh
Due: eslint, cargo-audit

fix: correct test method names and DTO properties
  apps/identity/src/services/arbiter.service.spec.ts
  apps/identity/src/services/nexus.service.spec.ts
  apps/identity/src/services/treasury.service.spec.ts
Due: eslint

fix(safety): replace unwrap() with safe error handling
  ee/cloud/src/lib.rs
  packages/foundation/bridge/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: Activate pillar services & implement production connectors
  .github/workflows/dast-scan.yml
  .zap/api-rules.tsv
  .zap/rules.tsv
  Cargo.lock
  apps/identity/src/controllers/arbiter.controller.ts
  apps/identity/src/controllers/synapse.controller.ts
  apps/identity/src/controllers/treasury.controller.ts
  apps/identity/src/dto/arbiter.dto.ts
  apps/identity/src/modules/synapse.module.ts
  apps/identity/src/services/arbiter.service.spec.ts
  apps/identity/src/services/gate.service.spec.ts
  apps/identity/src/services/nexus.service.spec.ts
  apps/identity/src/services/treasury.service.spec.ts
  apps/identity/src/services/trust.service.spec.ts
  apps/identity/src/services/trust.service.ts
  packages/pillars/gate/Cargo.toml
  packages/pillars/gate/src/bin/server.rs
  packages/pillars/gate/src/connectors/sap.rs
  packages/pillars/gate/src/connectors/sdk.rs
  packages/pillars/gate/src/connectors/swift.rs
  packages/pillars/gate/src/explain.rs
  packages/pillars/gate/src/neural.rs
  packages/pillars/gate/src/prompt_guard.rs
  packages/pillars/gate/src/runtime.rs
  packages/pillars/gate/tests/adversarial_tests.rs
  packages/pillars/nexus/src/discovery.rs
  packages/pillars/nexus/src/error.rs
  packages/pillars/nexus/src/marketplace/mod.rs
  packages/pillars/nexus/src/router/load_balancer.rs
  packages/pillars/treasury/src/bin/server.rs
  sdks/python/Cargo.toml
Due: eslint, cargo-fmt, cargo-clippy, cargo-audit

test: Add controller integration tests
  apps/identity/src/tests/controller-integration.spec.ts
Due: eslint

fix(ci): CI pipeline fixes for Clippy, SDK build, and bridge build
  .github/workflows/ci.yml
  .github/workflows/sdk-build.yml
  ee/connectors/src/license.rs
Due: cargo-fmt, cargo-clippy

fix(ci): Resolve all remaining CI issues
  packages/pillars/gate/src/connectors/sap.rs
  packages/pillars/gate/src/connectors/swift.rs
  packages/pillars/gate/src/neural.rs
  pnpm-workspace.yaml
Due: cargo-fmt, cargo-clippy

fix(ci): Fix all Clippy warnings in EE crates and update lockfile
  ee/energy/src/grid.rs
  ee/energy/src/intersect.rs
  ee/escalation/src/slack.rs
  ee/escalation/src/teams.rs
  ee/microvm/src/wasm_executor.rs
  ee/models/src/adapter.rs
  ee/models/src/demo.rs
  ee/productivity/src/demo.rs
  ee/sovereign-memory/src/aws_kms.rs
  ee/sovereign-memory/src/migration.rs
  pnpm-lock.yaml
Due: cargo-fmt, cargo-clippy

fix(ci): Disambiguate search method call in productivity demo test
  ee/productivity/src/demo.rs
Due: cargo-fmt, cargo-clippy

fix(ci): Wrap env::remove_var in unsafe block (Rust 2024 edition)
  ee/connectors/src/license.rs
Due: cargo-fmt, cargo-clippy

fix(ci): Skip encryption tests requiring AGENTKERN_LOCAL_KEK
  ee/sovereign-memory/src/encryption.rs
Due: cargo-fmt, cargo-clippy

fix(ci): Modernize to 2026-standard practices for CI compliance
  .npmrc
  Cargo.lock
  ee/connectors/Cargo.toml
  ee/connectors/src/license.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

chore(ci): Standardize all workflows to 2026 action versions
  .github/workflows/dast-scan.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/sdk-build.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
Due: none

fix(ci): Fix bridge build and cargo fmt trailing newline
  .github/workflows/ci.yml
  ee/connectors/src/license.rs
Due: cargo-fmt, cargo-clippy

fix(ci): Fix rkyv vulnerability, TruffleHog, and ESLint blocking issues
  .github/workflows/security-scan.yml
  Cargo.toml
Due: cargo-audit

fix(billing): Use temp-env for thread-safe environment testing in billing crate
  ee/billing/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(ci): Ensure bridge build produces index.node and standardize actions to v6
  .github/workflows/ci.yml
Due: none

fix(ci): Reorder pnpm setup and ignore rkyv vulnerability in all audit commands
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  Cargo.lock
Due: cargo-audit

fix(ci): Remove deprecated Semgrep inputs and make license check non-blocking
  .github/workflows/security.yml
Due: none

fix(ci): Add bridge build to identity-e2e job
  .github/workflows/ci.yml
Due: none

fix: Add null checks to SynapseController and remove deprecated SARIF steps
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  apps/identity/src/controllers/synapse.controller.ts
Due: eslint

fix: Jest resolution and security workflow hardening
  .github/workflows/ci.yml
  .github/workflows/dast-scan.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  apps/identity/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat: Add comprehensive AI security test suite
  packages/pillars/gate/tests/ai_security_tests.rs
Due: cargo-fmt, cargo-clippy

feat(gate): Harden PromptGuard with expanded patterns and 2026 heuristics
  packages/pillars/gate/src/prompt_guard.rs
Due: cargo-fmt, cargo-clippy

feat(security): Enable scheduled DAST scans for Identity API
  .github/workflows/dast-scan.yml
Due: none

test(identity): Add 58 tests for 0% coverage services
  apps/identity/src/services/dns-resolution.service.spec.ts
  apps/identity/src/services/proof-verification.service.spec.ts
  apps/identity/src/services/synapse.service.spec.ts
  apps/identity/src/services/webauthn.service.spec.ts
Due: eslint

test(identity): Add 35 repository tests for gate-policy and nexus-agent
  apps/identity/src/repositories/gate-policy.repository.spec.ts
  apps/identity/src/repositories/nexus-agent.repository.spec.ts
Due: eslint

feat(perf): Add k6 performance benchmarking infrastructure
  .github/workflows/performance.yml
  apps/identity/k6/README.md
  apps/identity/k6/load-test.js
  apps/identity/k6/soak-test.js
  apps/identity/k6/stress-test.js
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
