Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

eslint:
  name: ESLint
  entry: pnpm exec eslint --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - push

cargo-audit:
  name: Cargo security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

fix(ci): also fix invalid coverage args in ci.yml
  .github/workflows/ci.yml
Due: none

chore: documentation overhaul, root cleanup, and test fixes
  Cargo.lock
  compile_error.log
  docker_build_fail.log
  docker_error.log
  docs/PRODUCTION_DEPLOYMENT.md
  docs/getting-started.md
  docs/identity/INTENT_DNS_SPEC.md
  docs/identity/SDK.md
  docs/wiki/IDENTITY_DESIGN.md
  docs/wiki/README.md
  docs/wiki/SDK_DESIGN.md
  docs/wiki/audits/PHASE_8_AUDIT.md
  docs/wiki/runbooks/AUTOMATED_RECOVERY.md
  docs/wiki/specs/identity/PROTOCOL_SPEC.md
  docs/wiki/specs/identity/TRUST_MESH_SPEC.md
  ee/cockpit/Cargo.toml
  ee/cockpit/src/lib.rs
  gate_tests.log
  k6_output.txt
  k6_results.txt
  packages/pillars/arbiter/Cargo.toml
  packages/pillars/arbiter/migrations/20260115000001_intent_paths.sql
  packages/pillars/arbiter/src/coordinator_pg.rs
  packages/pillars/gate/src/actors.rs
  packages/pillars/gate/src/crypto_agility.rs
  packages/pillars/synapse/src/mesh/mod.rs
  packages/sdk-node/index.d.ts
  packages/sdk-node/index.js
  packages/sdk-node/test/index.js
  server.log
  server_load.log
  server_run_2.log
Due: eslint, cargo-fmt, cargo-clippy, cargo-audit

deploy: update playground and docs [skip ci] b9d582d96cc31b05a687f4dbfe0857dfeb7ef012
  PRODUCTION_DEPLOYMENT.md
  getting-started.md
  identity/INTENT_DNS_SPEC.md
  identity/SDK.md
  wiki/IDENTITY_DESIGN.md
  wiki/README.md
  wiki/SDK_DESIGN.md
  wiki/audits/PHASE_8_AUDIT.md
  wiki/runbooks/AUTOMATED_RECOVERY.md
  wiki/specs/identity/PROTOCOL_SPEC.md
  wiki/specs/identity/TRUST_MESH_SPEC.md
Due: none

feat(server): wire EE modules (Cloud, Trust, Energy)
  Cargo.lock
  FUTURE_INNOVATION_ROADMAP.md
  apps/server/Cargo.toml
  apps/server/src/ee.rs
  apps/server/src/main.rs
  packages/pillars/gate/src/tee.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(treasury): activate GreenOps carbon ledger
  Cargo.lock
  packages/pillars/treasury/Cargo.toml
  packages/pillars/treasury/src/carbon.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(core): stabilize ground truth and quarantine EE fixes #117
  apps/server/src/bin/demo.rs
  apps/server/src/ee.rs
  apps/server/src/main.rs
  packages/pillars/arbiter/src/api.rs
  packages/pillars/arbiter/src/bin/server.rs
Due: cargo-fmt, cargo-clippy

chore(deps): modernize core dependencies fixes #116
  .github/workflows/ai-review.yml
  .github/workflows/dast-scan.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/deploy-playground.yml
  .github/workflows/security-scan.yml
  apps/server/src/telemetry.rs
Due: cargo-fmt, cargo-clippy

fix(ci): decouple core pillars from quarantined EE modules
  packages/pillars/arbiter/Cargo.toml
  packages/pillars/gate/Cargo.toml
Due: cargo-audit

fix(ci): repair arbiter build and upgrade github actions to 2026 standards
  .github/actions/setup-pnpm/action.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  packages/pillars/arbiter/src/api.rs
Due: cargo-fmt, cargo-clippy

fix(ci): add required toolchain input for dtolnay/rust-toolchain@master
  .github/workflows/security.yml
Due: none

fix(security): update bytes to 1.11.1 to resolve RUSTSEC-2026-0007
  Cargo.lock
Due: cargo-audit

fix(security): update wasmtime to 40.0.3 and optimize dockerfile
  Cargo.lock
  apps/server/Dockerfile
Due: cargo-audit

fix(treasury): remove call to test-only mock_forecast and enforce strict api errors
  packages/pillars/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy

chore(ci): remove redundant coverage job from ci.yml (handled by coverage.yml)
  .github/workflows/ci.yml
Due: none

chore(ci): fix sdk-build paths, remove redundant test-core, and standardize setup-node versions
  .github/workflows/release.yml
  .github/workflows/sdk-build.yml
Due: none

style: apply cargo fmt and add missing setup-rust action
  .github/actions/setup-rust/action.yml
Due: none

style: apply cargo fmt (final)
  packages/pillars/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy

fix(docker): install system deps before cargo chef cook
  apps/server/Dockerfile
Due: none

fix(server): align dependencies with workspace (Axum 0.8, OTEL 0.27, anyhow)
  apps/server/Cargo.toml
Due: cargo-audit

fix(treasury): add missing ApiError variant to WattTimeError
  packages/pillars/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy

fix(ci): resolve trufflesecurity/trufflehog BASE==HEAD error
  .github/workflows/security.yml
Due: none

chore: sync Cargo.lock with updated dependencies
  Cargo.lock
Due: cargo-audit

fix(server): resolve compiler warnings (rand, telemetry, arbiter-ee)
  apps/server/src/chaos.rs
  apps/server/src/telemetry.rs
  packages/pillars/arbiter/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-audit

fix(gate): wrap ort session in Mutex for thread-safe interior mutability
  packages/pillars/gate/src/neural.rs
Due: cargo-fmt, cargo-clippy

fix(docker): add python3 to build stage for pyo3 dependencies
  apps/server/Dockerfile
Due: none

fix(ci): resolve various compiler warnings and formatting issues
  packages/pillars/arbiter/src/api.rs
  packages/pillars/gate/src/neural.rs
  packages/pillars/gate/tests/policy_loader_test.rs
  packages/pillars/synapse/tests/passport_roundtrip.rs
  packages/pillars/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy

style: apply cargo fmt code style fixes
  packages/pillars/arbiter/src/api.rs
  packages/pillars/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy

ci: increase docker build temp space and aggressive cleanup
  .github/workflows/ci.yml
Due: none

fix(gate): use unused message variable in generate_pq_signature
  packages/pillars/gate/src/crypto_agility.rs
Due: cargo-fmt, cargo-clippy

ci: remove maximize-build-space and fix identity warning
  packages/pillars/identity/src/services/manager.rs
Due: cargo-fmt, cargo-clippy

ci: remove maximize-build-space and fix neural.rs lints
  .github/workflows/ci.yml
  packages/pillars/gate/src/neural.rs
Due: cargo-fmt, cargo-clippy

Align OSS docs with EE overlay workflow
  README.md
  docs/OSS_SETUP.md
  docs/README.md
Due: none

chore(ci): reduce dependabot PR volume via grouping and limits
  .github/dependabot.yml
Due: none

chore(ci): enable safe dependabot auto-merge
  .github/workflows/dependabot-automerge.yml
Due: none

chore: remove agentkern_ee_backup snapshot
  agentkern_ee_backup/LICENSE
  agentkern_ee_backup/arbiter/src/entity/compliance.rs
  agentkern_ee_backup/arbiter/src/entity/shariah.rs
  agentkern_ee_backup/carbon.rs
  agentkern_ee_backup/energy/tests/grid_integration.rs
  agentkern_ee_backup/gate/src/connectors/sap.rs
  agentkern_ee_backup/gate/src/connectors/swift.rs
  agentkern_ee_backup/identity/src/services/audit.rs
  agentkern_ee_backup/parsers/Cargo.toml
  agentkern_ee_backup/parsers/fuzz/Cargo.lock
  agentkern_ee_backup/parsers/fuzz/Cargo.toml
  agentkern_ee_backup/parsers/fuzz/fuzz_targets/copybook.rs
  agentkern_ee_backup/parsers/fuzz/fuzz_targets/idoc.rs
  agentkern_ee_backup/parsers/fuzz/fuzz_targets/swift_mt.rs
  agentkern_ee_backup/parsers/src/copybook.rs
  agentkern_ee_backup/parsers/src/idoc.rs
  agentkern_ee_backup/parsers/src/lib.rs
  agentkern_ee_backup/parsers/src/swift_mt.rs
  agentkern_ee_backup/screening.rs
  agentkern_ee_backup/synapse/src/encryption.rs
  agentkern_ee_backup/synapse/src/secure_passport.rs
  agentkern_ee_backup/takaful.rs
  agentkern_ee_backup/tee.rs
  agentkern_ee_backup/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
