Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for AgentKern
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
#
# Industry Best Practices:
# - Secret scanning before commit (defense in depth)
# - Linting to catch common issues
# - Security scanning for immediate feedback

repos:
  # ===========================================
  # Secret Detection (Critical - Runs First)
  # ===========================================
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        name: Detect secrets (gitleaks)
        description: Prevent committing secrets to the repository

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets (detect-secrets)
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json|pnpm-lock.yaml|Cargo.lock

  # ===========================================
  # General Hygiene
  # ===========================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: no-commit-to-branch
        name: Prevent commit to main
        args: ['--branch', 'main', '--branch', 'master']

  # ===========================================
  # TypeScript/JavaScript Security & Linting
  # ===========================================
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm exec eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: true

  # ===========================================
  # Rust Security & Linting
  # ===========================================
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format
        entry: cargo fmt --all --check
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [push]  # Only on push (slower)

      - id: cargo-audit
        name: Cargo security audit
        entry: cargo audit
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false
        stages: [push]  # Only on push

  # ===========================================
  # Semgrep Security Scanning (Fast Rules)
  # ===========================================
  - repo: https://github.com/semgrep/semgrep
    rev: v1.95.0
    hooks:
      - id: semgrep
        name: Semgrep security scan
        args:
          - --config=p/secrets
          - --config=p/security-audit
          - --error  # Fail on findings
        stages: [push]  # Only on push (can be slow)

  # ===========================================
  # Markdown Linting (Documentation)
  # ===========================================
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        name: Markdown lint
        args: ['--fix', '--disable', 'MD013', 'MD033', 'MD041']
        exclude: node_modules/

# CI configuration
ci:
  autofix_commit_msg: 'style: pre-commit autofixes [skip ci]'
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'
  skip:
    - cargo-fmt
    - cargo-clippy
    - cargo-audit  # These need Rust toolchain

chore: Add comprehensive gitignore patterns
  .gitignore
Due: none

docs: Add dependency audit report from cargo-machete
  docs/DEPENDENCY_AUDIT.md
Due: none

docs: Update README test counts to current values
  README.md
Due: none

fix(security): resolve all medium-severity security findings
  Cargo.lock
  apps/identity/src/guards/liability-proof.guard.ts
  apps/identity/src/main.ts
  deny.toml
  packages/foundation/governance/Cargo.toml
  packages/foundation/native-binding/Cargo.toml
  packages/pillars/gate/Cargo.toml
  packages/pillars/treasury/Cargo.toml
  pnpm-lock.yaml
Due: eslint, cargo-audit

deploy: update playground and docs [skip ci] 5019056e3cb3ae185c774d9e7a70830219fffa91
  DEPENDENCY_AUDIT.md
Due: none

feat(security): add comprehensive security test suite
  apps/identity/package.json
  apps/identity/src/main.ts
  apps/identity/src/middleware/csrf.middleware.ts
  apps/identity/test/security/auth-bypass.e2e-spec.ts
  apps/identity/test/security/csrf.e2e-spec.ts
  apps/identity/test/security/injection.e2e-spec.ts
  apps/identity/test/security/rate-limit.e2e-spec.ts
  pnpm-lock.yaml
Due: eslint

fix(security): gate Swagger documentation in production (L1)
  apps/identity/src/main.ts
Due: eslint

fix(ee): make cockpit tests thread-safe with temp-env
  ee/cockpit/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs(security): add SECURITY-ACCEPTANCE.md risk register
  docs/SECURITY-ACCEPTANCE.md
Due: none

deploy: update playground and docs [skip ci] 7244ca750c2d5885e27345352595ac11473f6246
  SECURITY-ACCEPTANCE.md
Due: none

fix(k6): correct API endpoints in load test
  apps/identity/k6/load-test.js
Due: eslint

fix(identity): stabilize service startup on Node 24
  apps/identity/src/logging/pino-logger.service.ts
  apps/identity/src/services/arbiter.service.ts
  apps/identity/src/services/gate.service.ts
  apps/identity/src/services/nexus.service.ts
  apps/identity/src/services/synapse.service.ts
  apps/identity/src/services/treasury.service.ts
Due: eslint

feat: implement hybrid PQC, harden identity service, and fix CI/tests
  apps/identity/Dockerfile
  apps/identity/k6/soak-test.js
  apps/identity/src/app.module.ts
  apps/identity/src/services/proof-signing.service.ts
  apps/identity/src/services/proof-verification.service.spec.ts
  apps/identity/src/services/proof-verification.service.ts
  apps/identity/src/services/synapse.service.spec.ts
  apps/identity/src/services/webauthn.service.spec.ts
  apps/identity/src/services/webauthn.service.ts
  packages/foundation/bridge/index.d.ts
  packages/foundation/bridge/src/lib.rs
  packages/pillars/gate/src/prompt_guard.rs
  packages/pillars/gate/tests/ai_security_tests.rs
  packages/sdk-node/index.d.ts
Due: eslint, cargo-fmt, cargo-clippy

fix(p1): replace WASM stubs with N-API bridge calls
  Cargo.lock
  apps/identity/src/services/gate.service.spec.ts
  apps/identity/src/services/gate.service.ts
  packages/foundation/bridge/Cargo.toml
  packages/foundation/bridge/src/lib.rs
Due: eslint, cargo-fmt, cargo-clippy, cargo-audit

feat(p2): WattTime API integration + SWIFT health check
  Cargo.lock
  packages/pillars/gate/src/connectors/swift.rs
  packages/pillars/treasury/Cargo.toml
  packages/pillars/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(p3): implement heuristic XAI attention explanation
  packages/pillars/gate/src/explain.rs
Due: cargo-fmt, cargo-clippy

chore: ignore generated index.js in bridge
  packages/foundation/bridge/.gitignore
Due: none

docs: update bridge functions and timestamp
  docs/wiki/INFRASTRUCTURE_DESIGN.md
Due: none

deploy: update playground and docs [skip ci] 0c19fb618cce7438c53cd453de9f86fb7c240a72
  wiki/INFRASTRUCTURE_DESIGN.md
Due: none

ci: enable all-features for rust tests
  .github/workflows/ci.yml
Due: none

fix(ci): eliminating build warnings for clippy compliance
  packages/foundation/edge/src/offline.rs
  packages/foundation/edge/src/policy.rs
  packages/pillars/arbiter/src/queue.rs
  packages/pillars/gate/src/actors.rs
  packages/pillars/gate/src/connectors/sap.rs
  packages/pillars/gate/src/connectors/swift.rs
  packages/pillars/gate/src/neural.rs
  packages/pillars/gate/src/observability.rs
  packages/pillars/gate/src/runtime.rs
  packages/pillars/gate/src/wasm/loader.rs
  packages/pillars/gate/src/wasm/mod.rs
  packages/pillars/gate/src/wasm/registry.rs
  packages/pillars/nexus/src/marketplace/mod.rs
  packages/pillars/treasury/src/lock.rs
  packages/pillars/treasury/src/watttime.rs
Due: cargo-fmt, cargo-clippy

fix(ci): repair n-api bridge build by restoring feature-gated imports
  packages/pillars/gate/src/actors.rs
  packages/pillars/gate/src/neural.rs
Due: cargo-fmt, cargo-clippy

fix(ci): apply cargo fmt to all changed files
  packages/foundation/bridge/index.d.ts
  packages/foundation/bridge/src/lib.rs
  packages/pillars/gate/src/connectors/swift.rs
  packages/pillars/gate/src/explain.rs
  packages/pillars/gate/src/observability.rs
  packages/pillars/gate/src/wasm/mod.rs
  packages/pillars/gate/src/wasm/registry.rs
  packages/pillars/treasury/src/lock.rs
  packages/pillars/treasury/src/watttime.rs
Due: eslint, cargo-fmt, cargo-clippy

fix(docker): add build dependencies for native compilation
  apps/identity/Dockerfile
Due: none

fix(ci): comprehensive repair of CI disk space, docker dependencies, and license compliance
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  apps/identity/Dockerfile
  deny.toml
  ee/connectors/Cargo.toml
  ee/core/Cargo.toml
  ee/energy/Cargo.toml
  ee/escalation/Cargo.toml
  ee/idp/Cargo.toml
  ee/microvm/Cargo.toml
  ee/models/Cargo.toml
  ee/productivity/Cargo.toml
  ee/retail/Cargo.toml
  ee/sovereign-memory/Cargo.toml
  packages/foundation/bridge/Cargo.toml
Due: cargo-audit

fix(ci): add packageManager field and upgrade node-version for turborepo compliance
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  package.json
Due: none

fix: resolve opentelemetry 0.31 breaking changes and manual merge of dependabot PRs #71, #64
  .github/workflows/dast-scan.yml
  apps/identity/package.json
  packages/pillars/gate/Cargo.toml
  packages/pillars/gate/src/observability.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

chore(ci): update workflows to use Rust agentkern-server
  .github/workflows/ci.yml
  apps/server/Dockerfile
Due: none

feat(db): wire Identity API to real database via PgPool
  Cargo.lock
  Cargo.toml
  apps/server/src/main.rs
  packages/pillars/identity/src/api/server.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(auth): implement JWT authentication
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/auth.rs
  apps/server/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(security): Phase 1 - Security hardening and distributed state
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/auth.rs
  apps/server/src/main.rs
  packages/pillars/identity/migrations/20260113000000_security_hardening.sql
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(treasury): wire API to PostgreSQL-backed PgTransferEngine
  Cargo.lock
  apps/server/src/main.rs
  packages/pillars/treasury/Cargo.toml
  packages/pillars/treasury/src/api.rs
  packages/pillars/treasury/src/db.rs
  packages/pillars/treasury/src/lib.rs
  packages/pillars/treasury/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(series-a): complete phase 15 audit, wiring, and observability
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/main.rs
  apps/server/src/telemetry.rs
  packages/pillars/arbiter/src/api.rs
  packages/pillars/gate/src/api.rs
  packages/pillars/identity/Cargo.toml
  packages/pillars/identity/src/services/audit.rs
  packages/pillars/nexus/src/api.rs
  packages/pillars/synapse/src/api.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(server): implement resilience pillars (circuit breakers, chaos, migrations)
  apps/server/Cargo.toml
  apps/server/src/bin/migrate.rs
  apps/server/src/chaos.rs
  apps/server/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat(arbiter): Phase 16 distributed state - PgLockManager, PgQueue, PgCoordinator
  packages/pillars/arbiter/Cargo.toml
  packages/pillars/arbiter/migrations/20260113000001_distributed_state.sql
  packages/pillars/arbiter/src/coordinator_pg.rs
  packages/pillars/arbiter/src/lib.rs
  packages/pillars/arbiter/src/locks_pg.rs
  packages/pillars/arbiter/src/queue_pg.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

feat: complete Series-A audit requirements - PQC audit signing & distributed Arbiter API
  packages/pillars/arbiter/src/api.rs
  packages/pillars/identity/Cargo.toml
  packages/pillars/identity/src/services/audit.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

test(arbiter): add distributed state integration tests and chaos drill infrastructure
  docs/runbooks/chaos_engineering.md
  packages/pillars/arbiter/tests/distributed_state.rs
  scripts/chaos_drill.sh
Due: cargo-fmt, cargo-clippy
