Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

eslint:
  name: ESLint
  entry: pnpm exec eslint --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - push

cargo-audit:
  name: Cargo security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

chore: update bridge imports and regenerate Cargo.lock
  Cargo.lock
  packages/foundation/bridge/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

fix: resolve test isolation and bridge API compatibility
  ee/trust/src/lib.rs
  packages/foundation/bridge/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(identity): add Nexus Agent Registry and Gate Policy Engine persistence
  apps/identity/src/entities/gate-policy.entity.ts
  apps/identity/src/entities/nexus-agent.entity.ts
  apps/identity/src/migrations/1735838400000-CreateNexusAgentsTable.ts
  apps/identity/src/migrations/1735838500000-CreateGatePoliciesTable.ts
  apps/identity/src/repositories/audit-event.repository.spec.ts
  apps/identity/src/repositories/audit-event.repository.ts
  apps/identity/src/repositories/gate-policy.repository.ts
  apps/identity/src/repositories/nexus-agent.repository.ts
  apps/identity/src/repositories/trust-record.repository.spec.ts
  apps/identity/src/repositories/trust-record.repository.ts
Due: eslint

refactor(identity): update services to use TypeORM repositories
  apps/identity/src/controllers/nexus.controller.ts
  apps/identity/src/data-source.ts
  apps/identity/src/modules/database.module.ts
  apps/identity/src/modules/gate.module.ts
  apps/identity/src/modules/nexus.module.ts
  apps/identity/src/services/gate.service.ts
  apps/identity/src/services/nexus.service.ts
Due: eslint

chore(identity): standardize branding to agentkern
  apps/identity/.env.example
  apps/identity/docker-compose.yml
  apps/identity/src/main.ts
Due: eslint

docs: standardize all domains to agentkern.io
  README.md
  docs/identity/INTEGRATION.md
  docs/identity/SDK.md
  docs/identity/TRUST_MESH_SPEC.md
  docs/runbooks/certificate-rotation-runbook.md
  docs/runbooks/kill-switch-runbook.md
  ee/LICENSE-ENTERPRISE.md
  ee/README.md
  ee/cockpit/README.md
  ee/sso/README.md
  examples/cloud/azure/marketplace-listing.md
Due: none

feat(identity): add protocol translation and advanced compliance engine
  apps/identity/src/services/compliance.engine.ts
  apps/identity/src/services/gate.service.ts
  apps/identity/src/services/nexus.service.ts
  apps/identity/src/services/protocol-translator.ts
Due: eslint

feat(identity): port NLIP protocol (ECMA-430) from Rust to TypeScript
  apps/identity/src/services/nexus.service.ts
  apps/identity/src/services/protocol-translator.ts
Due: eslint

chore: fix CI failures - format Rust code and update pnpm-lock.yaml
  ee/sso/src/lib.rs
  packages/foundation/bridge/src/lib.rs
  packages/foundation/edge/src/lib.rs
  packages/foundation/native-binding/src/lib.rs
  packages/foundation/runtime/src/lib.rs
  packages/pillars/arbiter/src/antifragile.rs
  packages/pillars/arbiter/src/lib.rs
  packages/pillars/gate/src/engine.rs
  packages/pillars/gate/tests/golden_policy_eval.rs
  packages/pillars/nexus/src/lib.rs
  packages/pillars/nexus/tests/protocol_roundtrip.rs
  packages/pillars/synapse/src/lib.rs
  packages/pillars/treasury/src/carbon.rs
  packages/pillars/treasury/src/lib.rs
  packages/pillars/treasury/src/transfer.rs
  pnpm-lock.yaml
Due: cargo-fmt, cargo-clippy

fix(e2e): robust test suite and CI config
  .github/workflows/ci.yml
  apps/identity/src/controllers/dashboard.controller.ts
  apps/identity/test/app.e2e-spec.ts
  apps/identity/test/dashboard.e2e-spec.ts
  apps/identity/test/dns.e2e-spec.ts
  apps/identity/test/proof.e2e-spec.ts
  apps/playground/package.json
  pnpm-lock.yaml
Due: eslint

fix(rust): pub translator mod and typo in nexus protocol tests
  packages/pillars/nexus/src/protocols/mod.rs
  packages/pillars/nexus/tests/protocol_roundtrip.rs
Due: cargo-fmt, cargo-clippy

fix(ci): robust dockerfile and security workflow
  .github/workflows/security.yml
  apps/identity/Dockerfile
Due: none

fix(ci): robustness for docker build and rust tests
  apps/identity/Dockerfile
  packages/pillars/gate/tests/golden_policy_eval.rs
Due: cargo-fmt, cargo-clippy

fix(ci): docker build files and e2e schema logic
  .github/workflows/ci.yml
  apps/identity/.dockerignore
Due: none

fix(rust): add missing import for LatencyBreakdown in golden tests
  packages/pillars/gate/tests/golden_policy_eval.rs
Due: cargo-fmt, cargo-clippy

style(rust): format golden_policy_eval.rs
  packages/pillars/gate/tests/golden_policy_eval.rs
Due: cargo-fmt, cargo-clippy

fix(identity): robust audit logging for e2e stability
  apps/identity/src/services/audit-logger.service.ts
Due: eslint

fix(security): suppress npm peer dependency errors for sbom
  .github/workflows/security.yml
  .npmrc
Due: none

fix(test): update rust golden tests to match current API
  packages/pillars/gate/tests/golden_policy_eval.rs
  packages/pillars/nexus/tests/protocol_roundtrip.rs
Due: cargo-fmt, cargo-clippy

style(rust): format golden tests
  packages/pillars/gate/tests/golden_policy_eval.rs
Due: cargo-fmt, cargo-clippy

feat(integration): finalize bridge integration and e2e stability
  .github/workflows/ci.yml
  CODEBASE_AUDIT_REPORT.md
  FIXES_APPLIED.md
  PRODUCTION_FIXES_SUMMARY.md
  apps/identity/Dockerfile
  apps/identity/package.json
  apps/identity/scripts/build-bridge.js
  apps/identity/scripts/verify-bridge.js
  apps/identity/src/app.module.ts
  apps/identity/src/controllers/gate.controller.ts
  apps/identity/src/controllers/health.controller.ts
  apps/identity/src/entities/trust-record.entity.ts
  apps/identity/src/modules/database.module.ts
  apps/identity/src/modules/security.module.ts
  apps/identity/src/services/arbiter.service.ts
  apps/identity/src/services/audit-logger.service.ts
  apps/identity/src/services/gate.service.ts
  apps/identity/src/services/nexus.service.ts
  apps/identity/src/services/synapse.service.ts
  apps/identity/src/services/treasury.service.ts
  apps/identity/test/pillars.e2e-spec.ts
  docs/PRODUCTION_READY_APPROACH.md
  docs/PRODUCTION_READY_BRIDGE_IMPLEMENTATION.md
  packages/pillars/nexus/src/discovery.rs
  packages/pillars/treasury/src/bin/server.rs
  packages/pillars/treasury/src/carbon.rs
Due: eslint, cargo-fmt, cargo-clippy

fix(ci): resolve bridge build failures
  .github/workflows/ci.yml
  apps/identity/Dockerfile
Due: none

style(rust): format treasury pillar
  packages/pillars/treasury/src/bin/server.rs
  packages/pillars/treasury/src/carbon.rs
Due: cargo-fmt, cargo-clippy

fix(identity): production-ready async handling and type-safe E2E tests
  apps/identity/src/controllers/health.controller.ts
  apps/identity/src/services/arbiter.service.ts
  apps/identity/src/services/gate.service.ts
  apps/identity/src/services/nexus.service.ts
  apps/identity/src/services/synapse.service.ts
  apps/identity/src/services/treasury.service.ts
  apps/identity/test/app.e2e-spec.ts
  apps/identity/test/dashboard.e2e-spec.ts
  apps/identity/test/dns.e2e-spec.ts
  apps/identity/test/load/load-test.ts
  apps/identity/test/pillars.e2e-spec.ts
  apps/identity/test/proof.e2e-spec.ts
  apps/identity/test/test-types.ts
Due: eslint

fix(tests): type-safe E2E test helpers for zero ESLint warnings
  apps/identity/test/app.e2e-spec.ts
  apps/identity/test/dashboard.e2e-spec.ts
  apps/identity/test/dns.e2e-spec.ts
  apps/identity/test/pillars.e2e-spec.ts
  apps/identity/test/proof.e2e-spec.ts
  apps/identity/test/test-types.ts
Due: eslint

feat(playground): add functional simulations for all six pillars
  apps/playground/src/App.tsx
Due: eslint

fix(playground): context-aware Gate form fields based on action type
  apps/playground/src/App.tsx
Due: eslint

feat(playground): visual trust/reputation breakdown in Identity
  apps/playground/src/App.tsx
Due: eslint

feat: add playground links to landing page + welcome modal
  apps/playground/src/App.tsx
  docs/index.html
Due: eslint

feat(playground): add Integrate tab with SDK guide and code examples
  apps/playground/src/App.tsx
Due: eslint

feat(nexus): add required URL field to NexusService response
  apps/identity/src/services/nexus.service.ts
Due: eslint

fix(playground): resolve TypeScript error in realRegister
  apps/playground/src/App.tsx
Due: eslint

feat(ci): add GitHub Pages deployment workflow
  .github/workflows/deploy-gh-pages.yml
  apps/playground/vite.config.ts
Due: eslint

fix(docs): update playground links to use project site URL
  docs/index.html
Due: none

deploy: update playground and docs [skip ci] f78ef9105109d833ee56804b08d94ce0dbbaff3e
  index.html
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
