Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for AgentKern
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
#
# Industry Best Practices:
# - Secret scanning before commit (defense in depth)
# - Linting to catch common issues
# - Security scanning for immediate feedback

repos:
  # ===========================================
  # Secret Detection (Critical - Runs First)
  # ===========================================
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        name: Detect secrets (gitleaks)
        description: Prevent committing secrets to the repository

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets (detect-secrets)
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json|pnpm-lock.yaml|Cargo.lock

  # ===========================================
  # General Hygiene
  # ===========================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: no-commit-to-branch
        name: Prevent commit to main
        args: ['--branch', 'main', '--branch', 'master']

  # ===========================================
  # TypeScript/JavaScript Security & Linting
  # ===========================================
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm exec eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: true

  # ===========================================
  # Rust Security & Linting
  # ===========================================
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format
        entry: cargo fmt --all --check
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [push]  # Only on push (slower)

      - id: cargo-audit
        name: Cargo security audit
        entry: cargo audit
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false
        stages: [push]  # Only on push

  # ===========================================
  # Semgrep Security Scanning (Fast Rules)
  # ===========================================
  - repo: https://github.com/semgrep/semgrep
    rev: v1.95.0
    hooks:
      - id: semgrep
        name: Semgrep security scan
        args:
          - --config=p/secrets
          - --config=p/security-audit
          - --error  # Fail on findings
        stages: [push]  # Only on push (can be slow)

  # ===========================================
  # Markdown Linting (Documentation)
  # ===========================================
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        name: Markdown lint
        args: ['--fix', '--disable', 'MD013', 'MD033', 'MD041']
        exclude: node_modules/

# CI configuration
ci:
  autofix_commit_msg: 'style: pre-commit autofixes [skip ci]'
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'
  skip:
    - cargo-fmt
    - cargo-clippy
    - cargo-audit  # These need Rust toolchain

fix(ci): resolve missing bridge dependency path and update lockfile
  apps/playground/package.json
  pnpm-lock.yaml
Due: none

fix(ci): use lto=thin to prevent Docker OOM in release build
  Cargo.toml
Due: cargo-audit

fix(ci): disable lto completely to prevent Docker OOM
  Cargo.toml
Due: cargo-audit

fix(ci): bump docker builder to rust:1.92 to match workspace MSRV
  apps/server/Dockerfile
Due: none

fix(ci): install protobuf-compiler in docker builder
  apps/server/Dockerfile
Due: none

fix(ci): install clang/cmake/build-essential in docker builder
  apps/server/Dockerfile
Due: none

fix(ci): copy ee and sdks to docker builder to satisfy workspace manifest
  apps/server/Dockerfile
Due: none

fix(ci): repair workflow syntax, rust trait mismatch, and pnpm lockfile
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/security-scan.yml
  packages/pillars/gate/src/neural.rs
Due: cargo-fmt, cargo-clippy

fix(ci): repair workflow syntax, rust trait mismatch, and pnpm lockfile
  docs/adr/003-production-ready-security-fixes.md
Due: none

fix(ci): final remediation for clippy, workflows, and lockfile sync
  .github/workflows/security-scan.yml
  Cargo.toml
  packages/pillars/treasury/src/db.rs
  pnpm-lock.yaml
Due: cargo-fmt, cargo-clippy, cargo-audit

Re-add unexpected_cfgs lint configurationfix(cargo): move workspace lints to fix syntax error
  Cargo.toml
Due: cargo-audit

Re-add workspace lints configurationfix(cargo): move workspace lints to end of file to fix dependencies scoping
  Cargo.toml
Due: cargo-audit

Update neural.rsfix(gate): use tuple format for Value::from_array to satisfy ort-rs v2 traits
  packages/pillars/gate/src/neural.rs
Due: cargo-fmt, cargo-clippy

fix(ci): robust remediation for clippy, workflows, and neural.rs syntax
  Cargo.toml
  packages/pillars/gate/src/neural.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

fix(ci): final audit resolution - align ndarray, fix neural.rs syntax, and clean lints
  Cargo.lock
  Cargo.toml
  packages/pillars/gate/Cargo.toml
  packages/pillars/gate/src/cache.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

fix(ci): final remediation - install python3-dev, fix paths, and workspace lints
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  Cargo.toml
  packages/pillars/gate/Cargo.toml
  packages/pillars/treasury/Cargo.toml
Due: cargo-audit

fix(ci): final hardening - licenses, db services, and linker flags
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security-scan.yml
  apps/server/Cargo.toml
  packages/pillars/identity/Cargo.toml
Due: cargo-audit

fix(ci): fix security-scan.yml syntax and ensure license inheritance
  .github/workflows/security-scan.yml
Due: none

fix(ci): clippy, linker dependencies, and E2E robustness
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security-scan.yml
  packages/pillars/synapse/src/encryption.rs
  packages/pillars/synapse/src/mesh/orchestrator.rs
Due: cargo-fmt, cargo-clippy

fix(ci): orchestrator init, cargo-audit action, and migration logging
  .github/workflows/security-scan.yml
  packages/pillars/synapse/src/mesh/orchestrator.rs
Due: cargo-fmt, cargo-clippy

fix(ci): final remediation - exclude pyo3/napi from workspace tests, fix clippy, and harden migrations
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security-scan.yml
  apps/server/src/bin/migrate.rs
  packages/pillars/gate/src/crypto_agility.rs
Due: cargo-fmt, cargo-clippy

fix(ci): global proper remediation - fix pyo3 linking, restore base64, and harden workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security-scan.yml
  packages/pillars/gate/src/crypto_agility.rs
  sdks/python/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-audit

fix(ci): minor cleanup in security-scan workflow
  .github/workflows/security-scan.yml
Due: none

fix(ci): correct TOML syntax in python sdk manifest
  sdks/python/Cargo.toml
Due: cargo-audit

fix(ci): repair sqlx migrations verification and npm lint command
  .github/workflows/sdk-build.yml
  .github/workflows/security-scan.yml
  apps/server/src/bin/migrate.rs
Due: cargo-fmt, cargo-clippy

fix(ci): trigger sdk build and allow lint failure in security scan
  .github/workflows/security-scan.yml
  sdks/python/Cargo.toml
Due: cargo-audit

fix(ci): make migrator mutable in migrate.rs
  apps/server/src/bin/migrate.rs
Due: cargo-fmt, cargo-clippy

fix(ci): compilation errors in gate pillar (cache key usage and unused imports)
  packages/pillars/gate/src/cache.rs
  packages/pillars/gate/src/crypto_agility.rs
Due: cargo-fmt, cargo-clippy

fix(ci): resolve e2e role mismatch, clippy warnings, and flaky arbiter tests
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  ci_log.txt
  clippy_gate_log.txt
  packages/pillars/arbiter/tests/distributed_state.rs
  packages/pillars/gate/src/provenance.rs
  sdk_build_log.txt
  sdks/python/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-audit

chore: remove unintended log files
  ci_log.txt
  clippy_gate_log.txt
  sdk_build_log.txt
Due: none

fix(ci): resolve clippy error, napi target duplication, and audit step redundancy
  .github/workflows/security-scan.yml
  packages/pillars/gate/src/explain.rs
  packages/sdk-node/package.json
Due: cargo-fmt, cargo-clippy

fix(gate): resolve clippy unused variable and sdk-build dependencies
  .github/workflows/sdk-build.yml
  packages/pillars/gate/src/cache.rs
Due: cargo-fmt, cargo-clippy

fix(ci): correct server path and health check string in E2E tests
  .github/workflows/ci.yml
Due: none

chore(sdk): trigger SDK build with dummy comment
  sdks/python/Cargo.toml
Due: cargo-audit

fix(ci): resolve all clippy warnings, dead code, and migration mismatches
  .github/workflows/ci.yml
  .github/workflows/sdk-build.yml
  Cargo.lock
  apps/server/src/auth.rs
  apps/server/src/chaos.rs
  apps/server/src/main.rs
  apps/server/src/telemetry.rs
  packages/foundation/crypto/src/lib.rs
  packages/pillars/arbiter/src/api.rs
  packages/pillars/arbiter/src/lib.rs
  packages/pillars/arbiter/src/locks_pg.rs
  packages/pillars/arbiter/src/queue_pg.rs
  packages/pillars/arbiter/tests/distributed_state.rs
  packages/pillars/arbiter/tests/golden_flow.rs
  packages/pillars/arbiter/tests/simulation.rs
  packages/pillars/gate/benches/policy_eval.rs
  packages/pillars/gate/tests/ai_security_tests.rs
  packages/pillars/gate/tests/context_guard_integration.rs
  packages/pillars/gate/tests/golden_policy_eval.rs
  packages/pillars/identity/src/api/server.rs
  packages/pillars/identity/src/models/agent.rs
  packages/pillars/identity/src/models/key.rs
  packages/pillars/identity/src/services/audit.rs
  packages/pillars/identity/src/services/manager.rs
  packages/pillars/identity/src/services/verifier.rs
  packages/pillars/nexus/src/agent_card.rs
  packages/pillars/nexus/tests/golden_chaos.rs
  packages/pillars/synapse/src/state.rs
  packages/pillars/synapse/tests/drift_integration.rs
  packages/pillars/treasury/src/carbon.rs
  packages/pillars/treasury/src/db.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

style: fix workspace formatting for CI pass
  apps/server/src/main.rs
  packages/pillars/arbiter/tests/simulation.rs
  packages/pillars/identity/src/api/server.rs
  packages/pillars/identity/src/services/verifier.rs
Due: cargo-fmt, cargo-clippy

fix(ci): resolve nexus/gate clippy and harden e2e database route
  .github/workflows/ci.yml
  packages/pillars/gate/src/crypto_agility.rs
  packages/pillars/nexus/src/protocols/anp.rs
Due: cargo-fmt, cargo-clippy

fix(arbiter): restore db field naming and standardize gate dependencies
  .github/workflows/dast-scan.yml
  .github/workflows/security-scan.yml
  Cargo.lock
  Cargo.toml
  packages/pillars/arbiter/src/locks_pg.rs
  packages/pillars/arbiter/src/queue_pg.rs
  packages/pillars/gate/Cargo.toml
  packages/pillars/gate/src/crypto_agility.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

fix(ci): optimize workflows and migrate PQC to maintained crates
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  packages/pillars/arbiter/src/locks_pg.rs
  packages/pillars/arbiter/tests/distributed_state.rs
Due: cargo-fmt, cargo-clippy

fix(arbiter): force CI rebuild with explicit dead code allowance
  packages/pillars/arbiter/src/locks_pg.rs
Due: cargo-fmt, cargo-clippy
