Repository AgentKern/agentkern: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, cargo-fmt, cargo-clippy, cargo-audit

eslint:
  name: ESLint
  entry: pnpm exec eslint --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - push

cargo-audit:
  name: Cargo security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

Stabilize integration tests and harden runtime/test behavior
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  apps/server/Cargo.toml
  apps/server/src/main.rs
  apps/server/tests/integration.rs
  deny.toml
  docker-compose.yml
  packages/foundation/runtime/src/config.rs
  packages/foundation/runtime/src/detect.rs
  packages/foundation/runtime/src/fallback.rs
  packages/pillars/arbiter/src/bin/server.rs
  packages/pillars/arbiter/tests/distributed_state.rs
  packages/pillars/gate/src/lib.rs
  packages/pillars/synapse/src/crdt.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit

Remove OSS/EE migration matrix reference doc
  docs/reference/OSS_EE_MIGRATION_MATRIX.md
Due: none

fix(arbiter): fail fast on thread spawn failure
  apps/dashboard/src/App.jsx
  apps/playground/src/App.tsx
  packages/pillars/arbiter/src/bin/server.rs
  packages/pillars/arbiter/src/coordinator.rs
  packages/pillars/arbiter/src/coordinator_pg.rs
  packages/pillars/arbiter/src/raft_manager.rs
  packages/pillars/arbiter/src/storage.rs
  packages/pillars/arbiter/src/thread_per_core.rs
  packages/pillars/arbiter/tests/raft_persistence.rs
  packages/pillars/gate/src/mtls.rs
  packages/pillars/gate/src/runtime.rs
  packages/pillars/gate/src/wasm/mod.rs
  packages/pillars/nexus/src/discovery.rs
  packages/pillars/synapse/src/bin/server.rs
  sdks/node/src/lib.rs
  sdks/python/src/lib.rs
Due: eslint, cargo-fmt, cargo-clippy

chore(oss): enforce runtime/docs consistency and CI governance gates
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
  apps/server/src/main.rs
  docs/OSS_CAPABILITY_MATRIX.md
  docs/OSS_SETUP.md
  docs/README.md
  docs/governance/CI_POLICY.md
  docs/governance/CONTRIBUTING.md
  docs/governance/OSS_AUDIT_AND_MARKET_RESEARCH_2026-04-19.md
  docs/governance/OSS_PRODUCT_BOUNDARY.md
  docs/governance/OSS_TRANSITION_STATUS.md
  docs/reference/API_REFERENCE.md
  docs/reference/POSITIONING_VS_ALTERNATIVES.md
  scripts/verify-ci-policy.sh
  scripts/verify-oss-capability-consistency.sh
Due: cargo-fmt, cargo-clippy

fix(arbiter): make coordinator initialization fallible and explicit
  packages/pillars/arbiter/src/api.rs
  packages/pillars/arbiter/src/bin/server.rs
  packages/pillars/arbiter/src/coordinator.rs
  packages/pillars/arbiter/src/lib.rs
Due: cargo-fmt, cargo-clippy

chore(release): finalize publish workflow and fallible coordinator callsites
  .github/workflows/release.yml
  apps/server/src/bin/chaos_injector.rs
  apps/server/src/bin/demo.rs
  apps/server/tests/six_pillars_proof.rs
  docs/RELEASE_PROCESS.md
  docs/governance/OSS_TRANSITION_STATUS.md
  packages/pillars/arbiter/src/coordinator.rs
  packages/pillars/arbiter/tests/consensus_flow.rs
  packages/pillars/arbiter/tests/golden_flow.rs
  packages/pillars/arbiter/tests/simulation.rs
Due: cargo-fmt, cargo-clippy

chore(cleanup): remove stale comments and dead demo/sdk code
  .gitignore
  apps/server/src/bin/demo.rs
  sdks/node/src/lib.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
